/* 
  Purely visual styling (“look-and-feel”) for a component.
*/

h1,
h2,
h3,
h4,
h5{
  text-transform: uppercase;
}

#header{
  background: #1c2d3c;
  padding: 30px 0;
}

#navigation{
  background: #22374a;
  padding: 15px 0;
  
}
#navigation a{
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#featured{
  background:#FFF;
}

#content{
  background:#FFF;
}

.flexslider {
  margin: 0 0 60px;
  background: transparent;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.flexslider .slides > li {
  margin-right: 20px;
}
.flexslider .flex-direction-nav {
  line-height: normal;
}
#slider .flexslider ul.slides li h3{
  position: absolute;
  top: 10%;
  left: 10%;
  color: rgb(255,255,255);
  font-size: 2em;
}
#slider .flexslider ul.slides li a{
  position: absolute;
  bottom: 10%;
  left: 10%;
  background: #22374a;
  padding: 15px 25px;
  color: rgb(255,255,255);
  text-decoration: none;
  -webkit-border-radius: 6px; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
          border-radius: 6px;
}

#footer{
  background: rgb(21,45,60);
}
#footer p,
#footer a {
  color: rgb(255,255,255);
  text-transform: uppercase;
}